<nav class="nav nav-pills nav-justified" >
  <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="'/staticform'">Static Form</a>
  <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="'/dynamicform'">Dynamic Forms</a>
  <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="'/others'" href="#">Link</a>
</nav>