<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h2 class="text-center">Dynamic Forms  </h2>
    <div *ngIf="canRender">
      <form [formGroup]="formGroups">
        <div *ngFor="let field of FormFields; ">
          <div class="form-group">
            <label>{{field.label}}</label>
            <input class="form-control" [formControlName]="field.key" />
          </div>
        </div>
        <div class="formGroups.isValid">
          <input type="submit" [disabled]="false" value="save"/>
        </div>
      </form>
    </div>
  </div>
</div>