<div class="row ">
  <h2 class="w-100 text-center">User Forms</h2>
  <div class="row w-100 justify-content-center">
    <div class=" col-md-8">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <form [formGroup]="userForm" (ngSubmit)="onUserSave(userForm.value)">
            <div class="form-group ">
              <label>UserName</label>
              <input class="form-control" type="text" formControlName="name">
            </div>
            <div class="form-group">
              <label class="form-check-label" for="exampleRadios1">
                Gender
              </label>
              <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="gender" id="exampleRadios1" value="male"
                  checked>
                <label class="form-check-label" for="exampleRadios1">
                  Male
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="gender" id="exampleRadios2"
                  value="female">
                <label class="form-check-label" for="exampleRadios2">
                  Female
                </label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" formControlName="gender" value="others"
                  id="exampleRadios3" />
                <label class="form-check-label" for="exampleRadios3">
                  Others
                </label>
              </div>
            </div>
            <input class="btn btn-primary" type="submit" value="save">
          </form>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"></div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">3</div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">4</div>
      </div>
    </div>
  </div>
</div>